@charset "ISO-8859-1";
.signup_form{
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form_group{
	margin-bottom: 20px;
}

.form_group label{
	font-weight: bold;
}
.form_group input{
	width: 350px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.container{
	margin-top: 30px;
	margin-bottom: 40px;
}
.btn {
  color: black;
  border: 1px solid #ccc;
  background-color: orange;
  height: 35px;
  width: 373px;
  border-radius: 5px;
  font-weight: bold;
}